* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    .center-div {
        width: 1010px;
        height: 1920px;
        margin: 10px auto;
        display: flex;
        justify-content: space-between;

        .center-left {
            width: 280px;
            height: 1920px;

            .center-left-contain {
                width: 240px;
                height: fit-content;
                margin: 5px auto;

                .center-left-contain-title {
                    width: 240px;
                    height: 33px;
                    line-height: 33px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .title-left {
                        font-size: 18px;
                        color: black;
                        font-weight: 500;
                    }

                    .title-right {
                        text-decoration: none;
                        color: #666;
                        font-size: 10px;
                    }
                }

                .center-left-contain-img {
                    margin-top: 10px;
                    width: 240px;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    .contain-img-title {
                        padding-top: 10px;
                        color: black;
                        font-size: 15px;
                    }

                    span {
                        padding-top: 5px;
                        padding-bottom: 35px;
                        color: #666;
                        font-size: 13px;
                    }

                    .center-left-contain-img-span {
                        width: 260px;
                        height: 15px;
                        line-height: 15px;
                        margin-bottom: 15px;

                        span {
                            font-size: 12px;
                            margin-right: 5px;
                        }

                        a {
                            text-decoration: none;
                            color: #666;
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .center-right {
            width: 730px;
            height: 1920px;
            display: flex;
            flex-direction: column;

            .center-right-top {
                width: 730px;
                height: 50px;
                display: flex;
                border-bottom: 1px solid #666;
                align-items: center;

                .top-button {
                    font-size: 20px;
                    width: fit-content;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    margin-right: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1px;
                    .sx-div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #666;
                        width: 60px;
                        height: 20px;
                        margin-left: 10px;

                        .sx {
                            width: 20px;
                            height: 20px;
                            background: url(../img/定位.png) no-repeat;
                            background-position: 0px -123px;

                        }

                        span {
                            font-size: 10px;
                            color: #666;
                        }
                    }

                }

                .kb {
                    width: 350px;

                }

                .top-button:hover {
                    color: #ff9d00;
                    border-bottom: #ff9d00 1px solid;
                }

                .top-xyj {
                    width: 100px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 5px;
                    justify-content: flex-end;
                    background-color: #ff9d00;
                    color: white;

                }

                .top-xyj:hover{
                    background-color: #ff9a00;
                }
            }

            .center-right-contain {
                width: 670px;
                height: 149px;
                padding: 15px;
                display: flex;
                justify-content: space-between;

                .contain-right {
                    width: 430px;
                    height: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .contain-right-top {
                        width: 425px;
                        height: 26px;
                        overflow: hidden;

                        a {
                            font-size: 18px;
                            text-decoration: none;
                            color: black;
                            white-space: normal;
                            text-overflow: ellipsis;
                        }

                        a:hover {
                            color: #ff9d00;
                        }
                    }

                    .contain-right-middle {
                        span {
                            font-size: 12px;
                            color: #666;
                        }
                    }

                    .contain-right-bottom {
                        height: 38px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .contain-right-bottom-right {
                            width: 320px;
                            height: 37px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            color: #666;
                            font-size: 10px;

                            a:hover{
                                color: #ff9d00!important;
                            }

                            .right-contain-1{
                                width: fit-content;
                                display: flex;
                                margin: 10px;
                                a{
                                    color: #666;
                                    text-decoration: none;
                                    white-space:nowrap!important;
        
                                }
                            }

                            .dw {
                                margin-right: 5px;
                                width: 16px;
                                height: 16px;
                                background: url(../img/定位.png) no-repeat;
                                background-position: 0px -50px;
                            }

                            .yan {
                                margin-right: 5px;
                                width: 18px;
                                height: 16px;
                                background: url(../img/定位.png) no-repeat;
                                background-position: -30px -50px;
                            }

                            img {
                                margin-right: 5px;
                                border-radius: 50%;
                            }
                        }

                        .contain-right-bottom-left {
                            width: 70px;
                            height: 36px;
                            display: flex;
                            flex-direction: row-reverse;
                            justify-content: space-between;
                            align-items: center;
                            .color{
                                width: 15px;
                                text-align: right;
                                color: #ff9d00;
                            }
                            .zan {
                                width: 40px;
                                height: 36px;
                                background: url(../img/定位.png) no-repeat;
                                background-position: -60px 0px;
                            }
                        }
                    }
                }
            }

            .center-right-bottom {
                width: 730px;
                height: 30px;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                span {
                    padding: 10px;
                    font-size: 10px;
                    color: #666;
                }

                a {
                    font-size: 10px;
                    padding: 10px;
                    color: #666;
                    text-decoration: none;
                }

                a:hover {
                    background-color: #ff9d00;
                    border-radius: 5px;
                }
            }

            .center-right-contain:hover {
                background-color: #f8f8f8;
            }
        }
    }


    .bottom {
        width: 100%;
        height: 670px;
        background-color: #3c3c3c;
        font-size: 12px;
        line-height: 22px;
        padding-bottom: 20px;
        color: #c2c2c2;

        .bottom-1 {
            width: 1105px;
            height: 100%;
            margin: 0 auto;

            .bottom-1-1 {
                width: 100%;
                height: 250px;
                display: flex;
                justify-content: space-between;

                .bottom-1-1-1 {
                    width: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding-top: 30px;

                    .title {
                        font-size: 15px;
                        padding-bottom: 10px;
                    }

                    a {
                        text-decoration: none;
                        color: #c2c2c2
                    }
                }

                .bottom-1-1-2 {
                    width: 530px;
                    height: 250px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            }

            .bottom-1-2{
                width: 100%;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #666;
                .title{
                    font-size: 18px;
                }

                .tb{
                    width: 100%;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .wb{
                        width: 28px;
                        height: 29px;
                        margin: 0px 10px;
                        background: url(../img/bottom-2.png) no-repeat;
                        background-position: 0px 0px;
                    }
    
                    .tt{
                        width: 28px;
                        height: 29px;
                        margin: 0px 10px;
                        background: url(../img/bottom-2.png) no-repeat;
                        background-position: -30px 0px;
                    }
    
                    .kj{
                        width: 28px;
                        height: 29px;
                        margin: 0px 10px;
                        background: url(../img/bottom-2.png) no-repeat;
                        background-position: -60px 0px;
                    }
                }

               
            }

            .bottom-1-3{
                width: 100%;
                padding: 25px 0px;
                border-bottom: 1px solid #666;
            }

            .bottom-1-4{
                padding-top: 20px;
                width: 100%;
                height: fit-content;
                display: flex;
                .bottom-1-4-1{
                    width: 150px;
                    height: 40px;
                    background: url(../img/bottom-2.png) no-repeat;
                    background-position: 0px -28px;
                }
            }

            .bottom-1-5{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 10px;
                .cxwz{
                    width: 100px;
                    height: 30px;
                    background: url(../img/bottom-2.png) no-repeat;
                    background-position: 0px -70px;
                }

                .wxrz_k{
                    width: 100px;
                    height: 30px;
                    background: url(../img/bottom-2.png) no-repeat;
                    background-position: 0px -110px;
                }

                .wxrz_q{
                    width: 100px;
                    height: 30px;
                    background: url(../img/bottom-2.png) no-repeat;
                    background-position: 0px -150px;
                }
            }
        }

        a{
            color: #c2c2c2;
            text-decoration: none;
            padding: 5px 5px;
            white-space:nowrap!important;
            display: inline-block!important;
        }

        a:hover {
            color: white !important;
        }

        .color {
            color: #ff9d00 !important;
        }

        .center{
            margin: 0px 15px;
            text-align: center;
        }
    }
}